<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="item">
        <div class="item__nome">
            {{ item.nome }}
        </div>
        <span>Ingredientes: </span>
        <div class="item__content" ng-repeat="ingrediente in item.ingredientes">
            {{ ingrediente.nome }}
        </div>

        <div class="item__money pull-right">
          R{{item.valor | currency}}
        </div>
        <div class="item__time">
           <i class="mdi-device-access-alarm"/>Tempo de preparo {{item.tempo}}min
        </div>
        
      </div>
    </div>
  </div>
</div>
